services:
  - type: web
    name: amazon-eu-comparator
    env: node
    plan: free
    region: frankfurt
    buildCommand: |
      npm install
      npx puppeteer browsers install chrome
    startCommand: npm start
    envVars:
      - key: PORT
        value: 10000
      - key: PUPPETEER_EXECUTABLE_PATH
        value: /opt/render/project/src/node_modules/puppeteer/.local-chromium/linux-127.0.6533.88/chrome-linux64/chrome
